.panel-default {
    opacity: 0.9;
    margin-top:30px;

    .imgCode{
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .input-group{
        padding: 10px;
        width: 100%;
    }

    .input-group-addon{
        width: 70px;
    }
}

.form-group.last {
    margin-bottom:0px;
}
