body{
    margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:14px;
	font-family:inherit;
    overflow: hidden;
}

.loginBody {
    background: url('/assets/images/login_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(188, 208, 155);
}
