html{
	height: 100%;
}

body{
    margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:14px;
	font-family:inherit;
    overflow: hidden;
    height: 100%;
}

.button-box{
    min-height: 40px;
    background-color:#337ab7;
    .container-fluid{
        padding: 0;
        .navbar-collapse{
            padding: 0;
            a{
                color: #fff;
                padding: 10px 0 10px 15px;
            }
        }
    }

}

.pagination-box{
    .pagination{
        margin: 0;
    }
}
